* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("images/annie-spratt-V705bwrTnQI-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Bevan', cursive;
    color: white;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar__header {
    font-size: 45px;
    text-transform: uppercase;
}

.calendar__days {
    color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    font-size: 80px;
}

.calendar__days aside {
    width: 400px;
    height: 400px;
    background-color: rgba(211, 47, 47, 0.91);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__today:hover {
    background-image: url("https://media.giphy.com/media/jlR2mOs4ZHh7KE6Ecw/giphy.gif");
    color: transparent;

}
