* {
    box-sizing: border-box;
    margin: 0;
}

body {
    max-width: 100vw;
    background-image: url("images/christmas\ 4.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Bevan', cursive;
    color: white;
    padding: 6.3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 0 2rem;
}

.calendar__header {
    font-size: 2.8rem;
    text-align: center;   /* För att få texten centrerad i alla lägen */
    text-transform: uppercase;
}

.calendar__days {
    color: white;
    /* display: grid;
    grid-template-columns: repeat(6, 1fr); */
    display: flex; /* Mer responsiv, blev för stor på min lilla skärm hehe */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 5rem;
}

.calendar__days aside {
    width: 250px;
    height: 250px;
    background-color: rgba(211, 47, 47, 0.91);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__today:hover {
    background-color: transparent;
    background-image: url("https://media.giphy.com/media/Dh5q0sShxgp13DwrvG/giphy.gif"); 
    /*klipp ut denna url och flytta ner till rätt id längre ner, lägg in din egen istället.*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}


/* ---------------------- ÖPPNA LUCKOR ---------------------- */

/* Sätt klassen opened i HTML:en för en lucka för att den ska förbli öppen, 
flytta ner gårdagens url till rätt id, klistra in din url för gif eller bild 
i dagens lucka här ovan. Ho ho ho! */

.opened {
    background-color: transparent !important; 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent;
}

#one    {  background-image: url("https://media.giphy.com/media/jlR2mOs4ZHh7KE6Ecw/giphy.gif")  ; }
#two    {  background-image: url("https://media.giphy.com/media/9w475hDWEPVlu/giphy.gif");}
#three  {  background-image: url("https://media.giphy.com/media/yYSSBtDgbbRzq/giphy.gif")/* klipp in föregående dags url här */    ; }
#four   {  background-image: url("https://media.giphy.com/media/QYLnzu4C3mT8rJ6hRL/giphy.gif");/* klipp in föregående dags url här */    ; }
#five   {  background-image: url("https://media.giphy.com/media/imbTfdz5TWSsw/giphy.gif");/* klipp in föregående dags url här */    ; }
#six    {  background-image: url("https://media.giphy.com/media/mCsACOfmIOvZJ1iNA6/giphy.gif");/* klipp in föregående dags url här */    ; }
#seven  {  background-image: /* klipp in föregående dags url här */    ; }
#eight  {  background-image: /* klipp in föregående dags url här */    ; }
#nine   {  background-image: /* klipp in föregående dags url här */    ; }
#ten    {  background-image: /* klipp in föregående dags url här */     ; }
/* .... fyll på här :) .... */
